In [40]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [30]:
df_train_origin = pd.read_csv('data/application_train.csv')
df_test_origin = pd.read_csv('data/application_test.csv')

combine_origin = [df_train_origin,df_test_origin]

In [25]:
# df_train[["FLAG_OWN_CAR", "TARGET"]].groupby(['FLAG_OWN_CAR'], as_index=False).mean().sort_values(by='TARGET', ascending=False)
# df_train[["FLAG_OWN_CAR", "TARGET"]].groupby(['FLAG_OWN_CAR'], as_index=False).mean().sort_values(by='TARGET', ascending=False)

In [ ]:
# TARGET：1-会逾期；2-其他情况
# NAME_CONTRACT_TYPE（合同类型-贷款方式）：Cash loans（现金贷款）；Revolving loans（循环贷款）
# CODE_GENDER（客户性别）：F（女）；M（男）；XNA（）
# FLAG_OWN_CAR（是否拥有车辆）：N/Y
# FLAG_OWN_REALTY（是否拥有房产）：N/Y
# CNT_CHILDREN（拥有子女数量）：int
# AMT_INCOME_TOTAL（收入）：
# AMT_CREDIT（贷款的信贷金额）：
# AMT_ANNUITY（年金-每期还款）
# AMT_GOODS_PRICE（商品价格）
# NAME_TYPE_SUITE（客户申请贷款时由谁陪同）：1.Unaccompanied（无陪同）；2.Family；3.Spouse, partner（配偶伴侣）；4.Children；5.Other_B；6.Other_A；7.Group of people
# NAME_INCOME_TYPE（收入类型）：1.Working；2.Commercial associate（商业伙伴）；3.Pensioner（养老金）；4.State servant（）；5.Unemployed（失业）；6.Student；7.Businessman；8.Maternity leave
# NAME_EDUCATION_TYPE（受教育程度）：1.Secondary / secondary special；2.Higher education；3.Incomplete higher；4.Lower secondary；5.Academic degree
# NAME_FAMILY_STATUS（家庭情况）：1.Married；2.Single / not married；3.Civil marriage；4.Separated；5.Widow；6.Unknown
# NAME_HOUSING_TYPE（住房情况）：1.House / apartment；2.With parents；3.Municipal apartment；4.Rented apartment；5.Office apartment；6.Co-op apartment
# REGION_POPULATION_RELATIVE（数量越高表示客户所在区域人口越多）：
# DAYS_BIRTH（年龄-天）
# DAYS_EMPLOYED（当前的工作持续时间-天）
# DAYS_LAST_PHONE_CHANGE
# DAYS_REGISTRATION（客户在申请前几天更改了注册）？？
# DAYS_ID_PUBLISH（客户在申请前多少天更改了申请贷款的身份证明文件）？？
# OWN_CAR_AGE（车的年龄）
# FLAG_MOBIL（是否预留的手机号）：1/0
# FLAG_EMP_PHONE
# FLAG_WORK_PHONE
# FLAG_CONT_MOBILE
# FLAG_PHONE
# FLAG_EMAIL
# FLAG_DOCUMENT_2（是否提供了文件2~21）：1/0
# OCCUPATION_TYPE（职业）：1.Laborers；2.Sales staff；3.Core staff；4.Managers；5.Drivers；6.High skill tech staff；7.Accountants；8.Medicine staff；9.Security staff；10.Cooking staff；
#                          11.Cleaning staff；12.Private service staff；13.Low-skill Laborers；14.Waiters/barmen staff；15.Secretaries；16.Realty agents；17.HR staff；18.IT staff
# CNT_FAM_MEMBERS（家庭成员数量）
# REGION_RATING_CLIENT（我们对客户所在地区的评级）：1/2/3
# REGION_RATING_CLIENT_W_CITY（考虑城市因素，我们对客户所在地区的评级）：1/2/3
# WEEKDAY_APPR_PROCESS_START（申请贷款的在一周中的哪一天）
# HOUR_APPR_PROCESS_START（申请贷款的在一周中的几点）
# REG_REGION_NOT_LIVE_REGION（永久地址与联系地址是否在同一区域级别）：0（相同）；1（不同）
# REG_REGION_NOT_WORK_REGION（永久地址与工作地址是否在同一区域级别）：0（相同）；1（不同）
# LIVE_REGION_NOT_WORK_REGION（联系地址与工作地址是否在同一区域级别）：0（相同）；1（不同）
# REG_CITY_NOT_LIVE_CITY（永久地址与联系地址是否在同一城市级别）：
# REG_CITY_NOT_WORK_CITY
# LIVE_CITY_NOT_WORK_CITY
# ORGANIZATION_TYPE（工作的组织类型）：类型比较多
# EXT_SOURCE_1（来自外部数据源的标准化评分）：0~1
# EXT_SOURCE_2
# EXT_SOURCE_3

## 客户居住的建筑的标准化信息，平均(_AVG后缀)，modus后缀(_MODE后缀)，中值(_MEDI后缀)  0~1 
## 公寓大小，公共面积，居住面积，建筑年龄，电梯数量，入口数量，建筑状态，楼层数
# APARTMENTS_AVG（公寓大小）
# BASEMENTAREA_AVG（地下室）
# YEARS_BEGINEXPLUATATION_AVG
# YEARS_BUILD_AVG
# COMMONAREA_AVG
# ELEVATORS_AVG
# ENTRANCES_AVG
# FLOORSMAX_AVG
# FLOORSMIN_AVG
# LANDAREA_AVG
# LIVINGAPARTMENTS_AVG
# LIVINGAREA_AVG
# NONLIVINGAPARTMENTS_AVG
# NONLIVINGAREA_AVG

# OBS_30_CNT_SOCIAL_CIRCLE（逾期30天，对客户社交环境的观察有多少次）
# DEF_30_CNT_SOCIAL_CIRCLE（逾期30天的客户社会环境观察值）
# OBS_60_CNT_SOCIAL_CIRCLE
# DEF_60_CNT_SOCIAL_CIRCLE

# AMT_REQ_CREDIT_BUREAU_HOUR（在申请前一小时向信用局询问客户的数量）
# AMT_REQ_CREDIT_BUREAU_DAY（在申请前一天(不包括申请前一小时)向信贷局查询客户的数目）
# AMT_REQ_CREDIT_BUREAU_WEEK
# AMT_REQ_CREDIT_BUREAU_MON
# AMT_REQ_CREDIT_BUREAU_QRT
# AMT_REQ_CREDIT_BUREAU_YEAR

In [51]:
combine = []

for dataset in combine_origin:
    # 由于字段比较多，先把需要的提取出来
    df = pd.DataFrame()
    try:
        df = dataset[['SK_ID_CURR','TARGET']]
    except:
        df = dataset[['SK_ID_CURR']]
    
    income_median = dataset['AMT_INCOME_TOTAL'].median()
    a = np.linspace(income_median * 0.5,income_median * 1.5,num = 4)
    
    dataset.loc[dataset['AMT_INCOME_TOTAL'] < a[0],'AMT_INCOME_TOTAL'] = 1
    dataset.loc[(dataset['AMT_INCOME_TOTAL'] >= a[0]) & (dataset['AMT_INCOME_TOTAL'] < a[1]),'AMT_INCOME_TOTAL'] = 2
    dataset.loc[(dataset['AMT_INCOME_TOTAL'] >= a[1]) & (dataset['AMT_INCOME_TOTAL'] < a[2]),'AMT_INCOME_TOTAL'] = 3
    dataset.loc[(dataset['AMT_INCOME_TOTAL'] >= a[2]) & (dataset['AMT_INCOME_TOTAL'] < a[3]),'AMT_INCOME_TOTAL'] = 4
    dataset.loc[dataset['AMT_INCOME_TOTAL'] >= a[3],'AMT_INCOME_TOTAL'] = 5
    
    df = pd.concat([df,dataset[['AMT_INCOME_TOTAL']]],axis=1)
    
    combine.append(df)

In [37]:
combine[0].head()

   SK_ID_CURR  TARGET  AMT_INCOME_TOTAL
0      100002       1               4.0
1      100003       0               5.0
2      100004       0               1.0
3      100006       0               3.0
4      100007       0               2.0

In [44]:
df_train = combine[0]
df_test = combine[1]

X_train = df_train.drop(["TARGET",'SK_ID_CURR'], axis=1)
Y_train = df_train["TARGET"]

X_test  = df_test.drop("SK_ID_CURR", axis=1).copy()

In [45]:
model = linear_model.LinearRegression()
model.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [46]:
Y_pred = model.predict(X_test)

In [54]:
Y_pred[0:5]

array([0.08143126, 0.08538996, 0.07747255, 0.07351384, 0.08143126])

In [56]:
# df_test[df_test['AMT_INCOME_TOTAL'] == 1]